
body{
	background-color: #fff;
    font: 500 1rem "Cairo",Arial,Helvetica,sans-serif;
    color: #000;
    font-family: "Cairo",Arial,Helvetica,sans-serif !important;

}
.fixed {
    
    top:0; left:0;
    width: 100%;
    background: #e8e8e8;
    z-index:1;
    transition: 0.8s ease-in-out;
    }
#main-head.header-fix{
    position:fixed;
    z-index:999; 
    background: #e8e8e8;
    transition: all 0.8s ease-in-out;
}
#main-head.header-fix .bg-top {display: none; transition: 0.8s ease-in-out;}
#main-head.header-fix .navbar{padding: 0;}
#main-head.header-fix .navbar-brand::before {border-bottom: 76px solid rgb(253, 200, 5);}


html {
  scroll-padding-top: 100px;
}

@media(max-width: 768px){
    html {
      scroll-padding-top: 150px;
    }
}
.wyzHeader{}
.wyzHeader .navbar{
    padding: 0;
}
.wyzHeader .navbar-dark .navbar-nav .nav-link {
    color: #000;
    padding: 8px 16px;
    font-weight: 800;
    font-size: 19px;
    overflow: hidden;
}
.wyzHeader .navbar-dark .navbar-brand img{
    /*height: 78px;*/
}
.teli_icon{
    position: relative;
    top: 5px;
}
.teli_icon a {
    background: #000;
    border-radius: 75px;
    color: #fff !important;
    
}
.wyzHeader .navbar-dark .navbar-toggler{
    background: #000;
    padding: 8px 12px;
    font-size: 23px;
}
.px_set {}
.px_set a{padding: 4px 13px !important;}
.teli_icon a i{color: #fff;}
.py_2{padding: 4px 18px !important;}


@media (min-width: 576px){
	.wyzHeader .navbar-expand-sm .navbar-collapse {
	    justify-content: right;
	}
}
@media(min-width: 768px){
	.mr_5{
		margin-right: 15px;
	}
}
@media(max-width: 768px){
	.wyzHeader .navbar-nav{position: absolute; z-index: 999; background: #fff;}
	.wyzHeader .navbar-nav .nav-item{
		background-color: #fff;
	}
	.px_set{
    width: 45px;
    margin-bottom: 1rem;
	}
    .navbar-dark .navbar-toggler {
        color: #fff;
        border-color: rgba(255,255,255,.1);
    }
}

/*-----------------banner-------------------*/
.wyz_top{padding-top: 5rem; padding-bottom: 4rem;}
.wyz_banner_content{ margin: 1rem 0;}
.wyz_banner_content h1{
    font-size: 30px;
    font-weight: bold;
    color: #ffb612;
}
.get_btn{margin-top: 2rem;}
.get_btn a{}
.wyz_banner{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.top_bannerimg{text-align: center;}
.top_bannerimg img{
    width: 255px;
}
.wyz_banner h1{
    font-weight: bold;
    font-size: 57px;
    word-break: break-all;
}


/*-----carousel zoom effect-----*/
@-webkit-keyframes zoom {
    from {
  -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .carousel-item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}




.carousel-caption {
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 3;
    right: auto;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.carousel-caption h1 {
    font-size: 35px;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.carousel-inner .item .carousel-caption {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.carousel-inner .item.active .carousel-caption {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}


/*----Change the direction of banner slider carousel------ */
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

/*----about-------*/
.section_padding{
	padding: 4rem 0 4rem 0;;
}
.section_padding2{
    padding: 2rem 0 6rem 0;;
}
.about{text-align: center;}
.about h1{
	font-weight: 800;
    font-size: 47px;
}
.about p{
	margin-bottom: 0;
    font-size: 22px;
    line-height: 32px;
}
.btn_all{
    z-index: 9;
	background: #000;
    border-radius: 55px;
    padding: 10px 23px;
    margin: 11px 0;
    font-size: 18px;
    min-width: 194px;
    color: #fff;
    border-color: #000;
    position: relative;
    overflow: hidden;
}
.btn_all:focus{
    box-shadow: unset;
}
.cryptoh1 {
    font-size: 45px;
    text-align: left;
    font-weight: bold;
}
.btn_all::before{
    content:"";
    z-index: -9;
    position: absolute;
    width: 0px;
    height: 48px;
    background: #ffb612;
    left: 0;
    top: 0;
    border-radius: 55px;
    transition: 0.6s ease-in-out;
}
.btn_all:hover::before{
     width: 100%;
     transition: 0.6s ease-in-out;
}
.hover_flip{z-index: 9; position: relative;}

.hover_flip::before{
    content:"";
    z-index: -9;
    position: absolute;
    width: 0px;
    height: 37px;
    background: #ffb612;
    left: 0;
    top: 0;
    border-radius: 55px;
    transition: 0.6s ease-in-out;
}
.hover_flip:hover::before{
     width: 100%;
     transition: 0.6s ease-in-out;
}
.mb_5{margin-bottom: 1rem !important;}
.whoWe_bg {
    background-image: url(../images/aboutbg.jpg);
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #111111;
}
.mb_section{margin-bottom: 5rem; }
.who_we_are{
	text-align: center;
	color: #fff;
	margin: 3rem 0 6rem 0;
}
.who_we_are h2{
	font-weight: 800;
    font-size: 41px;
    color: #ffb612;
    margin-bottom: 2rem;
}
.who_we_content p{
    font-size: 20px;
    line-height: 37px;
    margin-bottom: 2.5rem;
    letter-spacing: 1px;
}
.howdiff {
    width: 100%;
    float: left;
    border: 1px solid #ffb612;
    padding: 20px 10px;
    border-radius: 8px;
}
.marb {
    margin-bottom: 20px;
}
.howul li {
    color: #fff;
    float: left;
    width: 49%;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-bottom: 15px;
    background: url(../images/arrow.png);
    background-position: left center;
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 25px;
}
.whoWe_bg2 {
    background-image: url(../images/aboutbg.png);
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #111111;
}
.defi_banner{
    margin-top: 2.5rem;
}

.serv_pd{
	padding-bottom: 4rem;
}
.service{
	text-align: center;
	margin-bottom: 5rem;
	margin-top: 4rem;
}
.service h1{
	font-weight: 800;
    font-size: 42px;
    margin-bottom: 1rem;
}
.service p{
	font-size: 25px;
	line-height: 32px;
}
.serv_box{
        position: relative;
    padding: 39px 9px 0px 9px;
    background: linear-gradient(to bottom,#e8e8e8,#e1dfdf);
    box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
    border-radius: 15px;
    margin: 20px 0;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    min-height: 487px;
    border: 3px solid #d9d8d5;
}
.serv_box:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
    text-align: center;
}

.serv_box img{
    height: 80px;
    background: #c6c3ba;
    border-radius: 5px;
    padding: 5px;
}
.serv_box h1{
    font-size: 32px;
    font-weight: 800;
    margin: 1rem 0 1rem 0;
    min-height: 78px;
}
.serv_box p{
	font-size: 18px;
}
.serv_box ul{
	padding: 0;
    text-align: left;
}
.serv_box ul li a{
        color: #000;
    font-weight: 600;
    font-size: 17px;
    text-decoration: none;
    line-height: 28px;
}
.serv_box ul li{
	list-style: none;
}



.social_box{}

.social_box .content {
  height: 100%;
  display: flex;
  /*align-items: flex-end;*/
  justify-content: start;
  background-color: pink;
  min-height: 490px;
}

.social_box {
 /* box-sizing: border-box;
  padding: 7px;*/
  position: relative;
  overflow: hidden;
  margin: 1rem 0;
  background: linear-gradient(to bottom,#e8e8e8,#e1dfdf);
    box-shadow: 0 15px 25px rgb(0 0 0 / 10%);
}
.social_box:hover {
    background: linear-gradient(to bottom,#d7d6d2,#cdcbc7);
}
.social_box::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255,255,255,.2);
    z-index: 2;
    pointer-events: none;
    text-align: center;
 /* content: '';
  position: absolute;
  width: 193%;
  height: 197%;
  background: repeating-linear-gradient(
  white 0%,
  white 7.5px,
  #ffb612 7.5px,
  #ffb612 15px,
  white 15px,
  white 22.5px,
  #000 22.5px,
  #000 30px);
  transform: translateX(-20%) translateY(-20%) rotate(-45deg);*/
  /*animation: animate 20s linear infinite;*/
}

.social_box .content {
  position: relative;
  background-color: transparent;
  flex-direction: column;
  box-sizing: border-box;
  padding: 24px;
  text-align: center;
 /* font-family: sans-serif;*/
  z-index: 2;
}

.social_box,
.social_box .content {
  /*box-shadow: 0 0 2px #ffb612, 0 0 5px rgb(0 0 0), inset 0 0 5px rgb(0 0 0);*/
  border:1px solid #ccc;
  border-radius: 10px;
}

.social_box .content h2 {
    color: #000;
    font-weight: 800;
    font-size: 36px;
}

.social_box .content p {
      color: #000;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.social_box .content h2 {
    min-height:80px;
}
.social_box .content p {
    min-height:280px;
}
.paid_icon{
    display: inline-flex;
    line-height: 9px;
    justify-content: center;
}
.paid_icon span{
    padding: 0px 7px;
}
.paid_icon a i{
    font-size: 22px;
    color: #000;
}
.paid_icon a .fa-facebook{
    font-size: 19px;
    position: relative;
    top: 2px;
}
.paid_icon a .fa-quora{
    font-size: 19px;
    position: relative;
    top: 2px;
}
.google_adds a img{height: 25px;}
.google_adds svg{
    width: 37px;
    height: 25px;
    position: relative;
    display: block;
}

.svg_font svg{
    width: 52px;
    height: 43px;
}


.cont_btn{
	text-align: center;
	margin-top: 3rem;
}
.cont_btn a{
	min-width: auto;
    /*padding: 6px 18px;*/
}
.proj{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 53px 15px;
}
.proj_mr{
	margin: 3rem 0 4rem 0;
}
.proj h1{
	font-weight: 800;
	margin: 0;
}
.client_heading{
	margin-bottom: 1rem;
}
.client_heading h1{
    font-weight: 800;
    text-align: center;
    font-size: 47px;
}

.client_box{
	border: 2px solid #ffb612;
    border-radius: 13px;
    box-shadow: 9px 9px 0px 0px #ffb612;
    margin: 2rem 0;
    padding: 15px;
    background: #fff;
}
.client_logo{text-align: center;}
.client_logo img{height: 115px;}
.client_content{
	    padding: 24px 0 1px 0;
}
.client_content h2{
    font-size: 25px;
    font-weight: 800;
    min-height: 60px;
}
.client_content p{
	line-height: 23px;
    font-size: 18px;
    min-height: 70px;
    margin: 0;
}
.serv_box{
    transition: 0.6s ease-in-out;
}
.serv_box:hover .icon{
    box-shadow: 0 0 0 400px #cdcbc7;
    transition: 0.6s ease-in-out;
}
.devider{}
.devider hr{
    color: #ffb612;
    height: 2px;
    opacity: 0.5;
}
.client_bottom{}
.client_bottom h2{
	font-size: 22px;
	min-height: 57px;
}

.clien_slider .item{
	padding: 0 8px;
}
.clien_slider .owl-carousel .owl-item img {
    display: initial;
    width: auto;
}
.client_pb{margin-bottom: 3rem;}


.clien_slider .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffb612;
}
.clien_slider .owl-theme .owl-dots .owl-dot span {
    width: 18px;
    height: 18px;
    background: #D6D6D6;

}
.owl-prev, .owl-next {
    font-size: 35px !important;
    width: 34px;
    height: 34px;
    position: relative;
    line-height: 29px !important;
    background: #000 !important;
    color: #fff !important;
    border-radius: 55px !important;
    transition: 0.3s ease-in-out;
} 
.owl-prev:hover, .owl-next:hover{
    background: #ffb612 !important;
    transition: 0.3s ease-in-out;
}
.clien_slider h3{
	text-align: center;
    font-size: 28px;
    font-weight: 800;
}
.client_btn{
	text-align: center; margin-top: 3rem;
}



.contact_us{}
.contact_us p{
    text-align: center;
    font-size: 21px;
    max-width: 650px;
    margin:4rem auto;
    line-height: 29px;
}
.contact_us h1{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}
.contact_form{
    margin-top: 4rem;
}
.contact_form label{
	font-size: 23px;
}
.contact_form input, .contact_form textarea{
    padding: 16px;
    border-color: #000;
    font-size: 20px;
}
.contact_form input:focus, .contact_form textarea:focus{
	box-shadow: unset;
	outline: unset;
	border-color: #ffb612;
}
.send_bgn{text-align: center;}

.contact_mb{
	padding-top: 3rem;
}

.social_icon{
	text-align: center;
	margin-top: 6rem;
}
.social_icon ul{padding: 0;}
.social_icon ul li{
    list-style: none;
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #000;
    border-radius: 55px;
    margin: 9px;
    transition: 0.6s ease-in-out
}
.social_icon ul li a{
    font-size: 28px;
    padding: 8px 18px;
    color: #fff;
}
.social_icon ul li a i{
	position: relative;
	top: 5px;
}
.social_icon ul li:hover{
	background-color: #ffb612;
	transform: rotate(360deg);
	transition: 0.6s ease-in-out;
}

.footer_section{
	background-image: url(../images/footer_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.foter_content{
	text-align: center;
	margin: 7rem 0 4rem 0;
}
.foter_content img{

}
.foter_content h4{
	color: #fff;
	margin-top: 2.5rem;
}
.social_info{
	color: #fff;
	margin-top: 2.5rem;
}
.social_info a{
	color: #ffb612;
	text-decoration: unset;
}
.social_info p{
	margin-bottom: 0;
}

.line_shade{
	display: flex;
	justify-content: center;
}
.left_side{
    background-image: -webkit-linear-gradient(right, #1d1d1d66, rgba(0,0,0,0));
    width: 200px;
    height: 1px;
}
.middle_side {
    min-width: 200px;
    max-width: 300px;
    height: 1px;
    background: #1d1d1d66;
}
.righ_side{
	background-image: -webkit-linear-gradient(left, #1d1d1d66, rgba(0,0,0,0));
	width: 200px;
    height: 1px;
}
.contactUsbtn{
	text-align: center;
	margin-top: 4rem;
}
.contactUsbtn a{
	/*padding: 14px 35px !important;*/
}

.schedule_call{
	text-align: center;
}
.shedule_my{
	margin: 3rem 0;
}
.schedule_call h1{
	margin: 0;
    font-weight: 800;
    font-size: 47px;
}
.schedule_call h2{
	font-size: 33px;
    font-weight: 800;
}
.schedule_section{
	border: 1px solid #d3d1d1;
    border-radius: 9px;
    padding: 6rem 0;
    margin: 5rem 0 0rem 0;
}
.shedule_content{
	text-align: center;
}
.shedule_content img{}
.shedule_content h1{
    font-size: 24px;
    margin-top: 16px;
    font-weight: 800;
}
.shedule_content p{
    margin: 22px auto;
    max-width: 317px;
    line-height: 25px;
}
.meeting_time{
    margin: 2rem 0;
}
.meeting_time a{
    color: #000;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    padding: 17px 24px;
    box-shadow: 0 -1px 1px 0px rgb(0 0 1 / 64%);
}
.meeting_time a h3{

    font-size: 21px;
    font-weight: 800;
}
.meeting_time a h3 i{
        font-size: 25px;
    color: #ffb612;
    padding-right: 14px;
    position: relative;
    top: 2px;
}
.meeting_time span i{
    font-size: 27px;
}
.meeting_time span{}
.mt_0{margin-top: 0;}
@media(max-width: 768px){
    .serv_box {
        margin: 1.5rem 0;
    }
    .meeting_time {
        margin: 2rem 18px;
    }
    .top_bannerimg{margin-top: 4rem;}
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ffb612;
  color: white;
  cursor: pointer;
  padding: 0px 14px;
border-radius: 55px;
line-height: 42px;
}

#myBtn:hover {
  background-color: #000;
}
#myBtn img{height: 17px;}

.schedule_iframe{
    margin-top: 2rem;
}
.schedule_iframe iframe{
    min-height: 500px;
    overflow: scroll;
}



.get_proposal{}
.get_proposal p{
    text-align: center;
    font-size: 21px;
    max-width: 650px;
    margin:4rem auto;
    line-height: 29px;
}
.get_proposal h1{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
}
.proposal_form{
    margin-top: 4rem;
}
.proposal_form label{
    font-size: 19px;
}
.proposal_form input, .proposal_form textarea, .proposal_form select{
    padding: 11px 16px;
    border-color: #000;
    font-size: 18px;
}
.proposal_form input:focus, .proposal_form textarea:focus, .proposal_form select:focus{
    box-shadow: unset;
    outline: unset;
    border-color: #ffb612;
}
.input_check input{
    width: 17px;
    height: 17px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.proposal_heading{
    margin-top: 2rem;
}
.set_font_terms label{ font-size: 16px; }
.set_font_terms label a{ text-decoration: unset; color: #000; }
.set_font_terms label a:hover{ text-decoration: underline; }



.flyAnimation {
    animation: fly 3.59370755s forwards;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.445,.05,.55,.95);
    -webkit-animation: fly 2s forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(0.445,.05,.55,.95);
}

@-webkit-keyframes fly {
    0% {
        -webkit-transform: translate(0,0);
    }

    50% {
        -webkit-transform: translate(0,25px);
    }

    100% {
        -webkit-transform: translate(0,0);
    }
}

@keyframes fly {
    0% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

    50% {
        -webkit-transform: translate(0,25px);
        transform: translate(0,25px);
    }

    100% {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }
}